# Network settings
network.host: 0.0.0.0
http.port: 9200

# Cluster settings
cluster.name: my-cluster
node.name: {{ node_name }}

# Discovery settings
discovery.seed_hosts: ["{{ seed_host }}:9300"]
cluster.initial_master_nodes: ["{{ node_name }}"]
